<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${student != null}" th:each="row:${student}">
            <td th:text="${row.firstName}">John</td>
            <td  th:text="${row.middleName}">Doe</td>
            <td  th:text="${row.lastName}">john@example.com</td>
            <td>
                <a th:href="@{'/info/'+${row.id}}">Edit</a>
                |
                <a th:href="@{'/delete/'+${row.id}}"onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/add}" method="post">
            <div class="modal-body">
                    <div class="form-group">
                        <label  class="col-form-label">First name:</label>
                        <input type="text" class="form-control" name="firstName">
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Last name</label>
                        <input type="text" class="form-control" name="lastName">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Middle name</label>
                        <input type="text" class="form-control" name="middleName">
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
            </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>