<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container" >
    <form th:action="@{/update}" method="post">
        <input type="hidden" name="id" th:value="${student.get().id}">
    <div class="form-group">
        <label  class="col-form-label">First name:</label>
        <input type="text" class="form-control" th:value="${student.get().firstName}" name="firstName">
    </div>
    <div class="form-group">
        <label  class="col-form-label">Last name</label>
        <input type="text" class="form-control"  th:value="${student.get().lastName}" name="lastName">
    </div>
    <div class="form-group">
        <label class="col-form-label">Middle name</label>
        <input type="text" class="form-control"  th:value="${student.get().middleName}" name="middleName">
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Send message</button>
    </form>
</div>
</body>
</html>