<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--html tag is required-->
<head>
    <meta charset="UTF-8">
    <title>This is Test</title>
</head>
<body>
        <H1 th:text="${sample_test}"> </H1>
</body>
</html>